@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Toplearn.Core.Security.Identity
@using Toplearn.Core.Services.Interface

<section>
	<header><h3> میز کار </h3></header>
	<div class="inner">
		<ul>
			<li><a asp-area="UserPanel" asp-controller="Home" asp-action="index"> مشاهده حساب کابری </a></li>
			<li><a asp-action="EditProfile" asp-controller="Home" asp-area="UserPanel"> ویرایش حساب کابری </a></li>
			<li><a asp-action="index" asp-controller="Wallet" asp-area="UserPanel">  کیف پول  </a></li>
			<li><a href="/UserPanel/Order">  فاکتور ها  </a></li>
			<li><a asp-action="PermissionsOfUser" asp-controller="Home">دسترسی های کاربر</a></li>
			<li><a asp-action="ChangePassword" asp-controller="Home" asp-area="UserPanel"> تغییر رمز عبور </a></li>
			<li><a asp-controller="Account" asp-action="ForgotPassword"> فراموشی رمز عبور </a></li>
			@if (User.FindFirstValue(TopLearnClaimTypes.Role)!.Split("|").Any(x=>x == "ادمین"))
			{
				<li>
					<a asp-controller="Home" asp-action="Index" asp-area="Admin">
						صفحه ی ادمین
					</a>
				</li>
			}
			@if (User.FindFirstValue(TopLearnClaimTypes.Role)!.Split("|").Any(x => x == "استاد"))
			{
				<li>
					<a asp-controller="Teacher" asp-action="Index" asp-area="Admin">
						صفحه ی استاد
					</a>
				</li>
			}
			@if (User.FindFirstValue(TopLearnClaimTypes.Role)!.Split("|").Any(x => x == "استاد"))
			{
				<li>
					<a asp-controller="Teacher" asp-action="Courses" asp-area="Admin">
						دوره های شما
					</a>
				</li>
			}
			<li><a href=""> تنظیمات حساب کاربری </a></li>
			@if (User.Claims.Single(x => x.Type == TopLearnClaimTypes.ImageUrl).Value != @"\images\pic\Default.png")
			{
				<li><a asp-action="ResetImageOfUser" asp-controller="Home" asp-area="UserPanel">حذف عکس حساب کاربری</a></li>
			}
			<li><a asp-action="Logout" asp-controller="Account">خروج از حساب کاربری </a></li>
		</ul>
	</div>
</section>