@model Toplearn.Core.DTOs.Accounts.SendEmailHtmlViewModel


<h1>
	<a href="https://localhost:7208/">تاپ لرن</a>
</h1>
<h2>
	فعال سازی حساب کاربری
</h2>

<h3>
	سلام @Model.FullName
</h3>
<p>
	با تشکر از ثبت نام شما در سایت تاپ لرن
</p>
<hr />
<p>
	جهت فعالسازی حساب کاربری بر روی این لینک کلیک کنید
</p>
<a style="text-align:center;" href="https://localhost:7208/Account/ActiveAccount/@(Model.ActiveCode)/@(Model.BackUrl)">
	فعال سازی حساب کاربری
</a>
<p style="text-align:center;">
	https://localhost:7208/Account/ActiveAccount/@(Model.ActiveCode)/@(Model.BackUrl)
</p>