@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>عدم دسترسی</title>
	<link rel="stylesheet" href="/css/AccessDenied.css">
	<link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>

<body style="direction: rtl;">
	<h1>403</h1>
	<div>
		<p>> <span>کد خطا </span>: "<i>HTTP 403 Forbidden</i>"</p>
		<p>> <span>توضیحات خطا</span>: "<i>کاربر محترم () شما دسترسی لازم برای ورود به این صفحه را ندارید . اگر از دسترسی خود اطمینان دارید یکبار دیگر وارد سایت شوید</i>"</p>
		<p>> <span>خطای احتمالی ناشی باشد از</span>: [<b>
				اجرای دسترسی ممنوع، خواندن دسترسی ممنوع، دسترسی نوشتن
				ممنوع، ssl مورد نیاز، ssl 128 مورد نیاز، آدرس IP رد شده، گواهی مشتری مورد نیاز، دسترسی به سایت
				رد شد، کاربران بیش از حد، پیکربندی نامعتبر، تغییر رمز عبور، دسترسی به نقشه‌بردار ممنوع، گواهی مشتری
				لغو شد، فهرست دایرکتوری رد شد، مجوز دسترسی مشتری بیش از حد مجاز شد، گواهی مشتری نامعتبر است یا
				نامعتبر، گواهی مشتری منقضی شده است یا هنوز معتبر نیست، ورود به گذرنامه انجام نشد، دسترسی به منبع
				رد می شود، عمق بی نهایت رد می شود، درخواست های بیش از حد از همان آی پی مشتری
			</b> ...]
		</p>
		<p>> <span>بعضی از صفحاتی که شما که به آن ها دسترسی دارید </span>: [<a href="/">خانه</a>,
			<a asp-action="index" asp-controller="Home" asp-area="UserPanel">پنل کاربری</a>, <a asp-action="index" asp-controller="Wallet" asp-area="UserPanel" >کیف پول </a>...]
		</p>
		<p>> <span>روز خوبی داشته باشید  :)</span></p>
	</div>


	<script>
		var str = document.getElementsByTagName('div')[0].innerHTML.toString();
		var i = 0;
		document.getElementsByTagName('div')[0].innerHTML = "";

		setTimeout(function () {
			var se = setInterval(function () {
				i++;
				document.getElementsByTagName('div')[0].innerHTML = str.slice(0, i) + "|";
				if (i == str.length) {
					clearInterval(se);
					document.getElementsByTagName('div')[0].innerHTML = str;
				}
			}, 10);
		}, 0);

	</script>
</body>

</html>