
@{
    ViewBag.Title = "بازیابی کلمه ی رمز عبور";
}


<main class="client-page">
	<div class="container-content">

		<header>
			<h2>بازیابی کلمه ی رمز عبور</h2>
		</header>
		<div class="form-layer">
			<form action="/ForgotPassword" method="post">
				<div class="input-group">
					<span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
					<input name="email" id="email" value="@ViewBag.Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
				</div>
                <span data-valmsg-replace="true" data-valmsg-for="email" id="email"></span>
				<button class="btn btn-success" type="submit">
					ارسال
				</button>
			</form>
		</div>

	</div>
</main>