@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordViewModel

@{
	ViewBag.Title = "باز یابی رمز عبور ";
}


<partial name="_breadcrumb" />

<main class="client-page">
	<div class="container-content">

		<header>
			<h2>
				باز یابی رمز عبور 
			</h2>
		</header>

		<div class="form-layer">

			<form action="/ResetPassword" method="post">
				
				<div class="input-group">
					<span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
					<input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
				</div>
				<span asp-validation-for="Password"></span>

				<div class="input-group">
					<span class="input-group-addon" ><i class="zmdi zmdi-lock"></i></span>
					<input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="password">
				</div>
				<span asp-validation-for="RePassword"></span>

				<input asp-for="ActiveCode" type="hidden" />
				<button class="btn btn-success" type="submit">ثبت تغییرات   </button>

			</form>
		</div>

	</div>
	
</main>